<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>{{ info.name }}</title>
</head>
<body>
    {% include "partials/_header.html" %}
    <h1 class="title">Station : {{ info.name }} ({{ info.contractName | capitalize }})</h1>
        {{ iframe|safe }}
    <div class="display-station">
        <p><strong>Statut : </strong>{{ info.status }}</p>
        <p><strong>Adresse : </strong>{{ info.address }}</p>
        <p><strong>Capacité totale : </strong>{{ info.totalStands.capacity }}</p>
        <p><strong>Vélo(s) disponible(s) : </strong>{{ info.totalStands.availabilities.bikes }} ({{ pourcentDispo }} des vélos sont disponibles.)</p>
        <p><strong>Vélo(s) mécanique(s) : </strong>{{ info.totalStands.availabilities.mechanicalBikes }} ({{ pourcentMeca }} des vélos disponibles sont mécaniques.)</p>
        <p><strong>Vélo(s) éléctrique(s) : </strong>{{ info.totalStands.availabilities.electricalBikes }} ({{ pourcentElec }} des vélos disponibles sont éléctriques.)</p>
    </div>
</body>
</html>